In [0]:
import keras
import numpy as np
import pandas as pd

from sklearn import preprocessing 
from sklearn.impute import SimpleImputer

from google.colab import files

In [0]:
df=pd.read_csv('/content/drive/My Drive/Курсач/Colab Notebooks/autoRu.csv', sep = ';')

In [0]:
df

         Mark_info Model_info  Year  ... Auto_class Trunk_volume_min  Price_rub
0    Mercedes-Benz        GLS  2019  ...          J            355.0    9430000
1             Ford      C-MAX  2004  ...          M            550.0     260000
2       LADA (ВАЗ)       2107  2002  ...          B            379.0      38000
3            Skoda      Rapid  2015  ...          B            550.0     535000
4          Renault      Logan  2017  ...          B            510.0     459000
..             ...        ...   ...  ...        ...              ...        ...
476        Porsche      Macan  2019  ...          J            500.0    4485000
477            Kia       Ceed  2014  ...          C            380.0     730000
478         Toyota       RAV4  2014  ...          J            506.0    1260000
479     Volkswagen    Touareg  2012  ...          J            580.0    1550000
480            Kia       Ceed  2008  ...          C            534.0     379000

[481 rows x 15 columns]

In [0]:
mark_encoder = preprocessing.LabelEncoder() 
mark_encoder.fit(df['Mark_info']) 
df['Mark_info'] = mark_encoder.transform(df['Mark_info'])

In [0]:
model_encoder = preprocessing.LabelEncoder() 
model_encoder.fit(df['Model_info']) 
df['Model_info'] = model_encoder.transform(df['Model_info'])

In [0]:
region_encoder = preprocessing.LabelEncoder() 
region_encoder.fit(df['Region']) 
df['Region'] = region_encoder.transform(df['Region'])

In [0]:
df['Vin_resolution'].fillna(True, inplace=True)
df["Vin_resolution"] = df["Vin_resolution"].astype(float)

In [0]:
body_type_encoder = preprocessing.LabelEncoder() 
body_type_encoder.fit(df['Body_type']) 
df['Body_type'] = body_type_encoder.transform(df['Body_type'])

In [0]:
df['PTS'].fillna(False, inplace=True)
df["PTS"] = df["PTS"].astype(float)

In [0]:
salon_encoder = preprocessing.LabelEncoder() 
salon_encoder.fit(df['Salon']) 
df['Salon'] = salon_encoder.transform(df['Salon'])

In [0]:
color_encoder = preprocessing.LabelEncoder() 
color_encoder.fit(df['Color_hex']) 
df['Color_hex'] = color_encoder.transform(df['Color_hex'])

In [0]:
auto_class_encoder = preprocessing.LabelEncoder() 
auto_class_encoder.fit(df['Auto_class']) 
df['Auto_class'] = auto_class_encoder.transform(df['Auto_class'])

In [0]:
df

     Mark_info  Model_info  Year  ...  Auto_class  Trunk_volume_min  Price_rub
0           24          74  2019  ...           6             355.0    9430000
1           10          37  2004  ...           7             550.0     260000
2           19           4  2002  ...           1             379.0      38000
3           32         131  2015  ...           1             550.0     535000
4           31         101  2017  ...           1             510.0     459000
..         ...         ...   ...  ...         ...               ...        ...
476         29         103  2019  ...           6             500.0    4485000
477         18          47  2014  ...           2             380.0     730000
478         37         126  2014  ...           6             506.0    1260000
479         38         150  2012  ...           6             580.0    1550000
480         18          47  2008  ...           2             534.0     379000

[481 rows x 15 columns]

In [0]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 481 entries, 0 to 480
Data columns (total 15 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Mark_info         481 non-null    int64
 1   Model_info        481 non-null    int64
 2   Year              481 non-null    int64
 3   Region            481 non-null    int64
 4   Vin_resolution    481 non-null    float64
 5   Mileage           481 non-null    int64
 6   Owners_number     401 non-null    float64
 7   Body_type         481 non-null    int64
 8   PTS               481 non-null    float64
 9   Color_hex         481 non-null    int64
 10  Salon             481 non-null    int64
 11  Count_doors       481 non-null    int64
 12  Auto_class        481 non-null    int64
 13  Trunk_volume_min  477 non-null    float64
 14  Price_rub         481 non-null    int64
dtypes: float64(4), int64(11)
memory usage: 56.5 KB

In [0]:
df.describe()

        Mark_info  Model_info  ...  Trunk_volume_min     Price_rub
count  481.000000  481.000000  ...        477.000000  4.810000e+02
mean    19.958420   93.486486  ...        458.385744  9.033580e+05
std     10.209184   48.268696  ...        177.891378  1.122435e+06
min      0.000000    0.000000  ...         63.000000  2.200000e+04
25%     16.000000   54.000000  ...        370.000000  3.650000e+05
50%     19.000000   95.000000  ...        455.000000  5.590000e+05
75%     26.000000  137.000000  ...        510.000000  9.300000e+05
max     41.000000  175.000000  ...       2540.000000  9.430000e+06

[8 rows x 15 columns]

In [0]:
df['Model_info'].value_counts()